@import "~bootstrap/dist/css/bootstrap.min.css";

.card-title-heart,
.card-title-heart2 {
  font-size: 50px;
}

.card-text-value {
  font-size: 120px;
}

.card {
  transition: all 0.3s ease-in-out; /* Smooth transition for resizing the card */
}
